body {
    background-color:darkslategrey;
}

img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h3 {
    color:crimson;
}

p {
    margin: 10;
    padding: 10;
    color:bisque;
}